<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    
    <%- include('partials/nav', {user, errors}); %>

    <div class="home section">
        <div class="container">

          <!--STRANGER OR LOGGED IN AND NOT A MEMBER-->

          <% if (!user || user && !user.membership_status) { %>
            <ul class="grid-list">
              <% messages.forEach(message => { %>
                <li class="card">
                  <h2 class="h3 section-title"><%= message.title %></h2>
                  <p class="section-text"><%= message.message %></p>
                  <p class="message-sign"> <b>Note:</b> Become a member to see who wrote this post and when.</p>
                </li>
              <% }) %>
            </ul>
          <% } %>

          <!--LOGGED IN AND A MEMBER BUT NOT AN ADMIN-->
          
          <% if (user && user.membership_status && !user.isAdmin) { %>
            <ul class="grid-list">
              <% messages.forEach(message => { %>
                <li class="card">
                  <h2 class="h3 section-title"><%= message.title %></h2>
                  <p class="message-sign">by <%= message.user.name %></p>
                  <p class="section-text"><%= message.message %></p>
                  <p class="message-sign"><%=  new Date().getTimezoneOffset() %></p>
                </li>
              <% }) %>
            </ul>
          <% } %>

          <!--LOGGED IN AND AN ADMIN-->

          <% if (user && user.isAdmin) { %>
            <h1 class="h2 section-title">Hello, admin!</h1>
            <ul class="grid-list">
              <% messages.forEach(message => { %>
                <li class="card">
                  <h2 class="h3 section-title"><%= message.title %></h2>
                  <p class="message-sign">by <%= message.user.name %></p>
                  <p class="section-text"><%= message.message %></p>
                  <p class="message-sign"><%= message.date_posted_formatted %></p>
                  <form action="" method="post">
                    <input type="hidden" name="message_id" value="<%= message._id %>">
                    <button type="submit" class="btn btn-secondary">Delete</button>
                  </form>
                </li>
              <% }) %>
            </ul>
          <% } %>

        </div>
    </div>

    
    <%- include('partials/footer'); %>

    <%- include('partials/custom'); %>
  </body>
</html>