<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    
    <%- include('partials/nav', {user}); %>

    <div class="signup section">
        <div class="container">
          <% if (user) { %>
            <h1>Hello <%= user.name %>!</h1>
          <% } %>
        </div>
    </div>

    
    <%- include('partials/footer'); %>

    <%- include('partials/custom'); %>
  </body>
</html>