<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    
    <%- include('partials/nav', {user, errors}); %>

    <div class="signup section">
        <div class="container">

            <div class="card" style="background-color: rgba(0, 105, 148, 0.1)">

                <h1 class="h1">Enter passcode: </h1>

                <form action="" method="post">
                    <div class="form-group">
                        <label for="passcode">Passcode:</label>
                        <input type="password" name="passcode" id="passcode" class="input-field">
                        <p class="passcode-sign"> <b>Note:</b> Passcode can be found <a href="https://github.com/naknamu/secret-world" target="_blank" style="display: inline;"> here.</a></p>
                        <% if (passcodeErr) { %>
                          <div class="error"><%= (passcodeErr.passcode) ? passcodeErr.passcode.msg : "" %></div>
                      <% } %>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>

    
    <%- include('partials/footer'); %>

    <%- include('partials/custom'); %>
  </body>
</html>